{{ define "footer" }}
<div class="container footer text-black">
	<div class="row mb-5">
	  <div class="col-md-4 mb-5">
		 <h3>About Us</h3>
		 <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et dolor blanditiis consequuntur ex voluptates perspiciatis omnis unde minima expedita.</p>
		 <ul class="list-unstyled footer-link d-flex footer-social">
			<li><a href="#" class="p-2"><img src="/static/img/vk.png"></a></li>
			<li><a href="#" class="p-2"><img src="/static/img/youtube.png"></a></li>
			<li><a href="#" class="p-2"><img src="/static/img/telegram.png"></a></li>
			<li><a href="#" class="p-2"><img src="/static/img/instagram.png"></a></li>
		 </ul>
	  </div>
	  <div class="col-md-5 mb-5">
		 <div class="mb-5">
			<h3>Opening Hours</h3>
			<p><strong class="d-block font-weight-normal text-black">Sunday-Thursday</strong> 5AM - 10PM</p>
		 </div>
		 <div>
			<h3>Contact Info</h3>
			<ul class="list-unstyled footer-link">
			  <li class="d-block">
				 <span class="d-block text-black">Address:</span>
				 <span>Russia, Krasnodar, Krasnaya 176</span></li>
			  <li class="d-block"><span class="d-block text-black">Phone:</span><span>+7 961 564 2324</span></li>
			  <li class="d-block"><span class="d-block text-black">Email:</span><span>appetitkafe@gmail.com</span></li>
			</ul>
		 </div>
	  </div>
	  <div class="col-md-3 mb-5 quicklinks">
		 <h3>Quick Links</h3>
		 <ul class="list-unstyled footer-link">
			<li><a href="/recipes">Recipes</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/profile">Profile</a></li>
		 </ul>
	  </div>
	</div>
 </div>
</body>
</html>
{{ end }}