{{ define "index" }}	

{{ template "header"}}

	<main>
		<div class="container py-4">
		  <div >
			 <div class="container-fluid py-5">
				<div class="deliciousfood">
					<h1 class="display-4 fw-bold">DELECIOUS FOOD</h1>
					<p class="main__paragraf">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
					<a href="/recipes"><button class="btn btn-white btn-outline-white" href="/recipes">get started</button></a>
				</div>
			 </div>
		  </div>

		  <div class="row align-items-md-stretch">
				<div class="col-md-6 offer">
					<div class="h-100 p-5 text-white bg-dark rounded-3">
					<h2>NEW Technologies</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex animi, officiis facere vel rerum deserunt accusamus enim, voluptatem quae quam dicta sunt, ut omnis ab corrupti debitis. Ratione, quia.</p>
					<a href="/recipes"><button class="btn btn-outline-light" type="button" >Example button</button></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="h-100 p-5 text-white bg-dark rounded-3">
					<h2>Convenient menu system</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quidem quo sint reiciendis. Accusantium cupiditate labore veniam. Quod, iure asperiores! Amet repudiandae excepturi fugit quam omnis voluptas recusandae, minus harum!</p>
					<a href="/recipes"><button class="btn btn-outline-light" type="button" >Example button</button></a>
					</div>
				</div>
		  </div>

		  <section class="section py-5 ">
			<div class="container">
			  <div class="row">
				 <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 service-block" data-aos="fade-up" data-aos-delay="">
					<span class="wrap"><span class="icons-food d-block mb-4"><img src="/static/img/diet.png"></span></span>
					<h3 class="mb-2 text-dark">Enjoy Eating</h3>
					<p class="text-dark">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				 </div>
				 <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
					<span class="wrap"><span class="icons-food d-block mb-4"><img src="/static/img/seafood.png"></span></span>
					<h3 class="mb-2 text-dark ">Fresh Sea Foods</h3>
					<p class="text-dark">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				 </div>
				 <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
					<span class="wrap"><span class="icons-food d-block mb-4"><img src="/static/img/coffee-cup.png"></span></span>
					<h3 class="mb-2 text-dark ">Cup of Coffees</h3>
					<p class="text-dark">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				 </div>
				 <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
					<span class="wrap"><span class="icons-food d-block mb-4"><img src="/static/img/meat.png"></span></span>
					<h3 class="mb-2 text-dark">Meat Eaters</h3>
					<p class="text-dark">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
				 </div>
			  </div>
			</div>
		  </section>

		  <section class="h-100 p-5 text-white bg-dark rounded-3 ">
			<div class="container">
			  <div class="row mb-5 justify-content-center">
					<div class="col-md-7 text-center heading-wrap">
					  <h2 class="mb-2 ">The Institution</h2>
					  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				 </div>
			  <div class="row align-items-center">
				<div class="col-lg-4">
					<img src="/static/img/dishes.jpg" alt="Image" class="img-fluid about_img_1">
				 </div>
				 <div class="col-lg-4">
					<img src="/static/img/dishes2.jpg" alt="Image" class="img-fluid about_img_1">
				 </div>
				 <div class="col-lg-4">
					<img src="/static/img/dishes4.jpg" alt="Image" class="img-fluid about_img_1">
				 </div>
			  </div>
			  <a href="/recipes"><button class="btn btn-outline-light" type="button">Example button</button></a>
			</div>
		 </section>

		</div>
	</main>
	  
{{ template "footer"}}

{{ end }}	  
	