{{ define "sign" }}	

{{ template "header"}}
	<main class="form-signin text-dark">
		<form action="/save_feed" method="post">
		<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
	
		<div class="form-floating">
			<input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
			<label for="floatingInput">Username</label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
			<label for="floatingPassword">Password</label>
		</div>
	
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> Remember me<br>
			</label>
		</div>

		<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
		</form>

		<hr>
		
		<div class="register mb-3">
			<label>
				<a href="/register"><button class="w-100 btn btn-lg btn-success">register</button></a>
			</label>
		</div>
	</main>
	  
{{ end }}	 